@{
    ViewBag.Title = "Imputados";
    var subCodBarra = ((ClaimsIdentity)User.Identity).FindFirst("subCodBarra");
}

@using System.Data.Entity.Core.Common.EntitySql
@using System.Security.Claims
@using ISICWeb.Models
@using Microsoft.Ajax.Utilities
@*@model IEnumerable<ISIC.Entities.Imputado>*@

@section Head
{
    <style>
        .ParaEnviar {
            background-color: #4e7008!important;
            -ms-opacity: 0.8;
            opacity: 0.8;
        }
        

    </style>
    
}

<div class="container body-content">
    <section id="Imputados">

        <div class="center tile-light">
            <h1>Imputados en OTIP</h1>
        </div>





        <div style="margin-bottom: 50px">
            <table id="table" class="table  table-bordered table-hover table-condensed table-striped tile tabla" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="width: 5%">
                        Abrir
                    </th>
                    <th>
                        Rostro
                    </th>
                    <th>
                        Código de Barras
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Doc. Nro.
                    </th>

                    <th style="width: 10%;">
                        Borrar / 
                        Enviar
                        <input type="checkbox" id="chkEnviar"/>
                    </th>
                

                </tr>
                </thead>
                <tbody></tbody>
            </table>




        </div>







    </section>
    @section footer
    {
    <div class="col-md-2 col-sm-3 col-xs-4">
        @Html.ActionLink("Volver", "Index","Home", new { area = "" }, new { @class = "btn btn-lg btn-alt", title = "Volver" })
    </div>
    @if (!subCodBarra.Value.IsNullOrWhiteSpace())
    {
        <div class="col-md-3 col-sm-5 col-xs-2 text-center">
            @*@Html.ActionLink("Enviar", "EnviarDelitos", null, new { @class = "btn btn-lg btn-alt", title = "Enviar" })*@
        </div>
        <div class="col-md-3 col-sm-5 col-xs-2 text-center">
            @Html.ActionLink("Nuevo", "AltaModificacion", null, new { @class = "btn btn-lg btn-alt", title = "Nuevo" })

        </div>
    }


    }
  
</div>

@section scripts
{

    <script type="text/javascript">
    $(function () {
        $("div.dataTables_filter>label>input").addClass("form-control"); //estilo correcto a filtro
        $("div.dataTables_length>label>select").addClass("form-control"); //estilo correcto a cant de filas
        $(".DTTT_container >a").each($).removeClass().addClass("btn btn-sm"); //agrego estilo correcto a botones de tabla
        $("#table_filter").addClass("tile");
        //$("#table_length").addClass("tile");
        //$("#table_info").addClass("tile");
    });

    var urlEditar = '@Url.Action("AltaModificacion", "ImputadoOtip", new {Area = "Otip"})';
    var urlBorrarImputado = '@Url.Action("Borrar", "ImputadoOtip")?id=';
    var urlTablaImputados = '@Url.Action("MostrarImputados", "ImputadoOtip")';
    var urlEnviarImputado = '@Url.Action("EnviarDelitos", "ImputadoOtip")?id=';



    </script>
}

