@model ISICWeb.Areas.Usuarios.Models.VerificacionEmail

To: @Model.Email
Subject: @Model.Subject

<html>
<head>
    <title>Mail verificacion de cuenta</title>
</head>
<body>
    <div><br /></div>
    <table>
        <tr>
            <td style="width: 15%"></td>
            <td style="width: 70%">
                <div style="font-family: 'Times New Roman';font-size: 20px;background-color: white;color: black;text-align: justify;-webkit-text-justify: inter-word;-moz-text-justify: inter-word;-o-text-justify: inter-word;text-justify: inter-word;">
                    <table>
                        <tr>
                            <td style="width: 15%"></td>
                            <td style="width: 70%">
                                @Html.EmbedImage("~/Content/Images/escudo.jpg")
                                <br />
                                <br />
                                <p style="text-indent: 400px;">La Plata, @DateTime.Now.Day de @DateTime.Now.ToString("MMMM") de @DateTime.Now.Year</p>
                                <span>
                                    @if (Model.Sexo == 2)
                                    {
                                        @:A la Dra. @Model.Nombre @Model.Apellido<br/>
                                    }   
                                    else
                                    {
                                        @:Al Dr. @Model.Nombre @Model.Apellido<br/>
                                    }
                                    @Model.Dependencia<br />
                                    @Model.Departamento<br />
                                    @*Agente Fiscal del Fuero de Responsabilidad Penal Juvenil<br />*@
                                    @*del Departamento Judicial de San Martin<br />*@
                                    @*Dr. Fernando Javier Sirni<br />*@
                                    <u>Su Despacho:</u><br />
                                    <br />
                                    <br />
                                </span>
                                <p style="text-indent: 250px;">
                                    Tengo el agrado de dirigirme a usted en mi carácter de Coordinador del Sistema de Investigaciones Criminalísticas, del departamento de Policía Judicial de la Procuración General de la Suprema Corte de Justicia de la Provincia de Buenos Aires, en respuesta al oficio en el cual se solicita una clave para ingresar a la página Web de este sistema.
                                    A tal efecto, envió la presente clave de acceso y su correspondiente nombre de usuario, dejando constancia que el uso de la misma reviste carácter personal y confidencial.<br />
                                </p>
                                <p style="text-indent: 250px;">
                                    Se recuerda que la información obtenida tiene carácter reservado siendo el funcionario responsable por su uso indebido en los términos de la Ley 25.326 de Protección de datos personales, su decreto reglamentario 1558/2001 y su modif. 1160/2010.<br />
                                    Pagina de consultas Web: http://www.sic.mpba.gov.ar<br />
                                </p>
                                <p style="text-indent: 250px;">
                                    Para ser aceptado en la base de usuarios del sitio del SIC, deberá indefectiblemente confirmar su cuenta haciendo click en el boton "VALIDAR CUENTA". Hasta tanto no cumpla con este paso, su cuenta no estará habilitada para ingresar a dicha pagina.
                                </p>
                                @*<div style="text-indent: 300px">*@
                                <div style="text-align: center">
                                    @{
                                        
                                        //string link = string.Format("{0}://{1}{2}{3}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"), Url.Action("ConfirmarEmail", "Usuarios", new {area="Usuarios", u = @Model.NombreUsuario, t = @Model.Token }));
                                        string link = Model.Link;
                                    }
                                    <a href='@link' style="text-align: center; text-decoration: none; font-size: 14px; padding: 20px 26px 20px; line-height: 1.3333; background-color: rgb(109, 40, 45); border-radius: 0 !important; border: 0; color: #fff; text-shadow: 0 0 4px rgba(255, 255, 255, 0.7); -ms-opacity: 1 !important; opacity: 1 !important; color: #fff; border-top-color: rgba(255, 255, 255, 0.6); display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-family: 'open-sans-light', sans-serif !important; border: 1px solid transparent;">
                                        VALIDAR CUENTA
                                    </a>
                                </div>

                                    <br />
                                    @*</div>*@
                                    <br />
<p style="text-indent: 250px;">
                                    Pongo en conocimiento, que los datos obrantes en la base de consulta son de carácter exclusivamente informativo, de requerir certificación de los mismos, deberá dirigirse al organismo allí citado.
                                </p>
                                <p style="text-indent: 250px;">
                                    Por último, ante cualquier duda o consulta dejo a su disposición nuestros teléfonos (0221) 489-5350, 489-4072 o 423-3922.
                                </p>
                                <p style="text-indent: 250px;">
                                    Aprovecho la ocasión para saludarlo a usted con distinguida consideración.

                                </p>

                                <small style="color: black;">Si no puede visualizar el documento, valide la cuenta haciendo click <a style="color: blue" href="#">AQUI</a></small>
                                <p style="margin-bottom: 100px;"></p>
                            </td>
                            <td style="width: 15%"></td>
                        </tr>
                    </table>
                </div>


            </td>
            <td style="width: 15%"></td>
        </tr>
    </table>



</body>
</html>
