@{
    ViewBag.Title = "Chequeo de Huellas con RENAPER";
}
<style>

</style>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home") </li>
    <li><a href="#">Chequeo de Huellas con RENAPER</a></li>

</ol>
<h2>Chequeo de Huellas con RENAPER</h2>


<div class="panel panel-default tile wow fadeInDown animated">
    <div class="panel-heading">

        <h2>
            Chequeo de Identidad por Huella Digital

        </h2>

    </div>
</br>
    <a class="btn btn-lg btn-alt volver" href='#' onclick=" window.location.replace('https://test.mpba.gov.ar/isic/IdentificacionRenaper/FingerPrintCapturer.application'); return false; " title=" Captura Huellas" type="button">
        Captura en vivo de huellas con scanner digital
    </a>

</div>

</br>

<div class="panel panel-default tile wow fadeInDown animated">
<div class="panel-heading">

    <h2>
        Chequeo de Identidad por Huella impresa

    </h2>
</div>
</div>

    <div class="form-group col-lg-4 tile-light">
        @using (Html.BeginForm("SeleccionHuellasRenaper", "Imputado", FormMethod.Post, new { Id = "formResultadoBusqueda" }))
        {
        @Html.ValidationSummary(true)
        <div>
            @Html.Label("Ingrese el Código de Barra de la Huella", new { @class = "control-label" })
            @Html.TextBox("CodigoBarra", "", new { @class = "form-control" })
        </div>
        }

        <div id="cargando" class="form-group col-lg-4" style="display: none;">
            <img src="~/Images/loading.gif" alt="Loading..." />
        </div>
    </div>
    <br />


    @section Scripts {
    <script type="text/javascript">

        $.widget("custom.iconselectmenu", $.ui.selectmenu, {
            _renderItem: function (ul, item) {
                var li = $("<li>", { text: item.label });

                if (item.disabled) {
                    li.addClass("ui-state-disabled");
                }

                $("<span>", {
                    style: item.element.attr("data-style"),
                    "class": "ui-icon " + item.element.attr("data-class")
                })
                  .appendTo(li);

                return li.appendTo(ul);
            }
        });

        $("#estadoMiembros").iconselectmenu().iconselectmenu("menuWidget").addClass("ui-menu-icons customicons");



        $("formResultadoBusqueda").submit(function (e) {
            $("#cargando").show();
        });

        function formSubmit() {

            var form = $('#formResultadoBusqueda');
            var criterioSeleccionado = $('#CodigoBarra').val().length > 0;

            $.validator.unobtrusive.parse(form);
            var existingValdiation = form.validate();

            //the settings property corresponds to the options parameter
            existingValdiation.settings.invalidHandler = function (form) {
                alert('Codigo de barra inválido!');
            };

            if (criterioSeleccionado) {
                showLoading();
                form.submit();
            }
        }

        function showLoading() {
            $('#cargando').show();
        }

        $('form input').keydown(function (event) {
            if (event.keyCode == 13) {
                formSubmit();
            }
        });

            @if (ViewBag.CodigoBarra != null)
            {
                <text>
                    $(function () {
                        $('#CodigoBarra').val("@ViewBag.CodigoBarra");
                        formSubmit();
                    });
                </text>
            }
    </script>
    }
