@{
    ViewBag.Title = "Tareas asignadas";
}

<div class="center wow fadeInDown animated tile-light">
    <h1>Tareas Pendientes</h1>
</div>
<script src="~/Scripts/jsTree3/jstree.js"></script>
<script>

    $(function () {
        @*$('#container').jstree({
            'core': {
                'data': {
                    'url': '@Url.Action("GetJsTree3Data","Imputado")',
                    'dataType': 'json'
                }
            }
        }).on("select_node.jstree", function (e, data) {
            //$('#container').toggle_node(data.node);
            data.instance.toggle_node(data.node);
            if (data.event) {
                if (data.node.parent == "Para segmentar") {
                    var url = '@Url.Action("MarcarHuellasDactilares", "Digitalizacion", new { CodigoBarra = "__param__" })';
                    showPageLoadingSpinner();
                    window.location = url.replace('__param__', data.selected[0]);
                }
                else if (data.node.parent == "Para clasificar") {
                    var url = '@Url.Action("Index", "Clasificacion", new { CodigoBarra = "__param__"})';
                    showPageLoadingSpinner();
                    window.location = url.replace('__param__', data.selected[0]);
                } else if (data.node.parent == "Para cotejo local") {
                    var url = '@Url.Action("Index", "CotejoManual", new {CodigoBarra = "__param__"})';
                    showPageLoadingSpinner();
                    window.location = url.replace('__param__', data.selected[0]);
                }
            };
        });*@

        $('#container').jstree({
            'core': {
                'data': {
                    'url': function (node) {
                        var nodeId = "";
                        var url = "";
                        if (node.id === '#') {
                            url = '@Url.Action("GetJsTree3Data","Imputado")';
                        }
                        else {
                            nodeId = node.id;
                            url = '@Url.Action("GetJsTree3DataNode","Imputado")?estado=' + node.text;
                        }
                        return url;
                    },
                    'data': function(node) {
                        return { 'id': node.id };
                    }
                }
            }
           }).on("select_node.jstree", function (e, data) {
            data.instance.toggle_node(data.node);
            if (data.event) {
                if ($.isNumeric(data.node.parent)) {
                    var url = '@Url.Action("DetallePorCodBarra", "ImputadoOtip",  new {area="Otip", cb = "__param__" })';
                    showPageLoadingSpinner();
                    window.location = url.replace('__param__', data.selected[0]);
                }
                if (data.node.parent == "Para segmentar") {
                    var url = '@Url.Action("MarcarHuellasDactilares", "Digitalizacion", new { CodigoBarra = "__param__" })';
                    showPageLoadingSpinner();
                    window.location = url.replace('__param__', data.selected[0]);
                }
                else if (data.node.parent == "Para clasificar") {
                    var url = '@Url.Action("Index", "Clasificacion", new { CodigoBarra = "__param__"})';
                    showPageLoadingSpinner();
                    window.location = url.replace('__param__', data.selected[0]);
                } else if (data.node.parent == "Para cotejo local") {
                    var url = '@Url.Action("Index", "CotejoManual", new {CodigoBarra = "__param__"})';
                    showPageLoadingSpinner();
                    window.location = url.replace('__param__', data.selected[0]);
                }
            };
        });



    });


</script>
<div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">

    <div class="col-xs-offset-3  col-xs-6">
        <div id="container" class="tile"></div>
    </div>
</div>

@section footer
{
    <div class="col-md-2">
        @*<a class="btn btn-lg btn-alt volver" href='#' onclick=' ' title=" volver" type="button">
                Volver
            </a>*@
        <a class="btn btn-lg btn-alt volver" href='#' onclick=' window.history.go(-1); return false; ' title=" volver" type="button">
            Volver
        </a>
    </div>
    <div class="col-md-10">

    </div>

}
