@model ISICWeb.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
}


<div class="center wow fadeInDown animated tile-light">
    <h1>@ViewBag.Title</h1>
</div>
<div class="row wow fadeInDown animated">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <section id="loginForm">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default tile wow fadeInDown animated" style="margin: 60px 0 80px 0">
                    <div class="panel-heading">
                        <h2>Restablezca la contraseña.</h2>

                        
                        @Html.HiddenFor(model => model.Code)
                    </div>
                    <div class="panel-body">

                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="col-xs-3">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="col-xs-9 col-md-5">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <br />
                        </div>
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="col-xs-3">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="col-xs-9 col-md-5">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <br />
                        </div>
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="col-xs-3">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="col-xs-9 col-md-5">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <br />
                        </div>
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="col-xs-3">
                            </div>
                            <div class="col-xs-9 text-center col-md-5">
                                <input type="submit" value="Confirmar" class="btn btn-lg" />
                            </div>

                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="col-xs-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-3"></div>

</div>