@model ISICWeb.Areas.Usuarios.Models.UsuarioViewModel


@{

    ViewBag.Title = "Carga Antecedentes";
    //Layout = null;


}

<div class="container-detalle">

    <div class="center wow fadeInDown animated tile-light">
        @if (Model.Departamento==null || Model.Departamento.Id == null)
        {
            <h1 id="titulo">Usuarios</h1>
        }
        else
        {
            <h1 id="titulo">Usuarios Departamento @Model.Departamento.DepartamentoNombre</h1>
        }
        
    </div>

    <div class="row">
        <div class="col-md-12" role="main">

            
                @using (Ajax.BeginForm("Buscar", "Usuarios",
                new AjaxOptions
                {
                    UpdateTargetId = "resultados",
                    HttpMethod = "Post",
                    OnBegin = "onBuscarBegin",
                    OnComplete = "onBuscarComplete",
                    OnSuccess = "onBuscarSuccess"
                },
                new { id = "frmBuscar" }))
            {
             
                <div class="panel panel-default tile wow fadeInDown animated">
                    <div class="panel-heading">

                        <h4>
                            Indique Departamento Judicial
                            <small>
                                @*<div class="btn-group pull-right" data-toggle="buttons">
                                        <label id="lblBusquedaAvanzada" class="btn btn-alt">
                                            <input type="checkbox" autocomplete="off" id="btnBusquedaAvanzada"> Búsqueda Avanzada
                                        </label>
                                    </div>*@
                            </small>
                        </h4>

                    </div>





                    <div class="panel-body">
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">


                            <div class="col-xs-4">
                                @Html.LabelFor(model => model.Departamento, htmlAttributes: new { @class = "control-label required" })
                                @Html.DropDownListFor(x => x.Departamento.Id, Model.DepartamentoList as SelectList, "--Seleccionar--",new { @class = "form-control" })
                            </div>
                            

                        </div>
                        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div id="resultados" class="col-xs-12">

                            </div>
                            


                        </div>


                    </div>
                </div>


                <nav class="navbar navbar-default navbar-fixed-bottom tile-dark">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-4">
                            @Html.ActionLink("Volver", "Index", "Home", new { area = "" }, new { @class = "btn btn-alt btn-lg", onclick = "showPageLoadingSpinner();" })
                        </div>
                        <div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-8">
                            <div class="row ">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.ActionLink("Nuevo","AltaModificacionUsuario",new {area="Usuarios"} ,new {@id="btnNuevoUsuario",@class="btn btn-alt btn-lg"})
                                    @*<input type="submit" class="btn btn-lg btn-alt" value="Buscar" id="btnBuscar" />*@
                                </div>
                            </div>
                        </div>

                    </div>

                </nav>
            }
        </div>
    </div>
</div>



@section footer
{
    <div class="col-md-2">
        @*<a class="btn btn-lg btn-alt volver" href='#' onclick=' ' title=" volver" type="button">
                Volver
            </a>*@
        @*@Html.ActionLink("Volver", "Index", new { area = "" }, new { @class = "btn btn-alt btn-lg", onclick = "showPageLoadingSpinner();" })*@
    </div>
    <div class="col-md-10">

    </div>

}
<script>
    $("#btnBuscar").on("click", function() {
        if ($("#frmBuscar").valid() === true)
            showPageLoadingSpinner();
    });

    $("#frmBuscar").on("change", "#Departamento_Id", function () {
        if ($("#Departamento_Id").val() == "")
            $("#titulo").text("Usuarios");
        else
            $("#titulo").text("Usuarios Departamento " + $("#Departamento_Id option:selected").text());
        $("#btnNuevoUsuario").attr("href",' @Url.Action("AltaModificacionUsuario","Usuarios")?depto='+$("#Departamento_Id").val());
        $("#frmBuscar").submit();
    });

    $(document).ready(function () {
        $("#navFooter").hide();
       
    });

    //buscar datos
    function onBuscarBegin() {
        loader("Buscando, espere un momento...");
    }

    function onBuscarComplete() {
        $.unblockUI();
    }

    function onBuscarSuccess(data) {
        
    }
</script>