@model IEnumerable<string>

<div  id="printForm">
    <div style="padding-top: 50px" class="hidden-print"></div>
    <div class="text-center">
        <h2>Imágenes seleccionadas</h2>
    </div>
    <div id="photo-gallery-alt">
        @{
            foreach (var foto in Model)
            {
                <div class=" item hidden-print">
                    
                        <img class="img-responsive" src="@(foto)"/>
                <span class="overlay">
                    <a rel="prettyPhoto[gallery]" href="@(foto)">
                        <i class="fa fa-search"></i>
                        </a>
                   </span>
                        <p class="tile-light">@Path.GetFileNameWithoutExtension(foto)</p>
                </div>

                <div style="width: 40%; float: left; height: 40%; position: relative;margin: 10px" class="visible-print-inline-block" >
                        <img  src="@(foto)" />
                        <p>@Path.GetFileNameWithoutExtension(foto)</p>
                    </div>

            }

        }
    </div>

</div>
@section footer
{
    <div class="col-md-2 col-md-offset-6 col-sm-3 col-sm-offset-3 col-xs-6 col-xs-offset-3">
        <a href='#' id="btnImprimir" class=" btn btn-alt btn-lg">
            Imprimir
        </a>
    </div>

}

@section scripts
{
    <script src="~/Areas/PortalSIC/Scripts/printThis.js"></script>
    <script>
        $(function () {
            var $container = $('#photo-gallery-alt');
            $container.isotope({
                itemSelector: '.item',
                layoutMode: 'fitRows'
            });
        });
    </script>
}
