@using System.Web.UI.WebControls
@using ISICWeb.Areas.PortalSIC.Models
@model ISICWeb.Areas.PortalSIC.Models.BusquedaViewModel
<style>
    .affix {
        width: 14.5%;
    }
    #filtrosAplicados>div>label {
        font-size: 10px;
    }
</style>

<div class="container-detalle">
    <div class="center wow fadeInDown animated tile-light">
        <h1>Búsqueda en el SIC</h1>
    </div>


    <div class="row">
    <div class="col-xs-2" role="complementary">

        <div data-spy="affix" style="top: 55px" data-offset-top="200">

            <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                <div id="filtrosAplicados" class="tile">
                    <i>Filtros:</i>
                </div>
            </div>
        </div>


    </div>
    <div class="col-xs-10" role="main">
    @*@using (Html.BeginForm("Buscar", "Busqueda", new {id = "frmBusquedaSic"}, FormMethod.Post))
                {*@
    @using (Html.BeginForm("Buscar", "busqueda", FormMethod.Get, new {id = "frmBusquedaSic"}))
    {

        @Html.Hidden("inicio", "false")
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-md-12 ">
                <div class="well tile-dark">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <span style="font-size: large">Tipo de Resultados:</span>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4">

                            <label>@Html.RadioButton("TipoBusqueda", "1", Model.TipoBusqueda != TipoBusqueda.Fotografias, new {@class = ""}) Listado General</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">

                            <label> @Html.RadioButton("TipoBusqueda", "2", Model.TipoBusqueda == TipoBusqueda.Fotografias, new {@class = ""}) Fotografías</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default tile wow fadeInDown animated">
            <div class="panel-heading">

                <h2>
                    Búsqueda Básica
                    <small>
                        <div class="btn-group pull-right" data-toggle="buttons">
                            <label id="lblBusquedaAvanzada" class="btn btn-alt">
                                <input type="checkbox" autocomplete="off" id="btnBusquedaAvanzada"> Búsqueda Avanzada
                            </label>
                            @Html.HiddenFor(m => m.BusquedaAvanzada)
                        </div>
                    </small>
                </h2>

            </div>





            <div class="panel-body">

                <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">

                    <div class="col-xs-4">
                        @Html.LabelFor(model => model.FiscaliaGeneral)
                        @*@Html.EditorFor(m => m.FiscaliaGeneral, !esSoloDetalle ? new { htmlAttributes = new { @class = "form-control" } } : new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } } as object)*@
                        @Html.DropDownListFor(m => m.FiscaliaGeneral, Model.FiscaliaGeneralList, new {@class = "form-control"} as object)
                        @Html.ValidationMessageFor(m => m.FiscaliaGeneral)
                    </div>
                    <div class="col-xs-4">
                        @Html.LabelFor(model => model.CodBarras)
                        @Html.EditorFor(m => m.CodBarras, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(m => m.CodBarras)
                    </div>
                    <div class="col-xs-4">
                        @Html.LabelFor(model => model.Delito)
                        @Html.EditorFor(m => m.Delito, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(m => m.Delito)
                    </div>


                </div>
                <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">

                    <div class="col-xs-4">
                        @Html.LabelFor(model => model.Apellido)
                        @Html.EditorFor(m => m.Apellido, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(m => m.Apellido)
                    </div>
                    <div class="col-xs-4">
                        @Html.Label("Nombre")
                        @Html.EditorFor(m => m.Nombres, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(m => m.Nombres)
                    </div>
                    <div class="col-xs-4">
                        @Html.LabelFor(model => model.NumeroDocumento)
                        @Html.EditorFor(m => m.NumeroDocumento, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(m => m.NumeroDocumento)
                    </div>

                </div>
            </div>
        </div>






        <div class="panel panel-default tile wow fadeInDown animated hidden" id="pnlBusquedaAvanzada">
        <div class="panel-heading">
            <h2> Búsqueda Avanzada</h2>
        </div>

        <div class="panel-body">
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.IPP)
                @Html.EditorFor(m => m.IPP, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.IPP)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Apodos)
                @Html.EditorFor(m => m.Apodos, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.Apodos)
            </div>

            <div class="col-xs-2">

                @Html.LabelFor(m => m.EdadDesde)
                @Html.EditorFor(m => m.EdadDesde, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.EdadDesde)
                @Html.Label("años.", new {@class = "pull-right"})
            </div>
            <div class="col-xs-2">
                @Html.LabelFor(m => m.EdadHasta)
                @Html.EditorFor(m => m.EdadHasta, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.EdadHasta)
                @Html.Label("años.")
                @*@Html.ValidationMessageFor(m => m.FechaNacimiento)*@

            </div>
        </div>
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Madre)
                @Html.EditorFor(m => m.Madre, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.Madre)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Padre)
                @Html.EditorFor(m => m.Padre, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.Padre)
            </div>
            <div class="col-xs-2">
                @Html.LabelFor(model => model.FechaDelitoDesde)
                @*<div class="form-group">
                                    <div class='input-group date'>*@
                @Html.EditorFor(m => m.FechaDelitoDesde, new {htmlAttributes = new {@class = "form-control datepicker", @placeholder = "dd/mm/aaaa"}})
                @*<span class="ui-datepicker-trigger">
                                        <span class="flaticon-calendar48"></span>
                                    </span>*@
                @*</div>
                                    </div>*@

                @Html.ValidationMessageFor(m => m.FechaDelitoDesde)
            </div>
            <div class="col-xs-2">
                @Html.LabelFor(model => model.FechaDelitoHasta)
                @*<div class="form-group">
                                    <div class='input-group date'>*@
                @Html.EditorFor(m => m.FechaDelitoHasta, new {htmlAttributes = new {@class = "form-control datepicker", @placeholder = "dd/mm/aaaa"}})
                @*<span class="input-group-addon btn btn-alt">
                                        <span class="flaticon-calendar48"></span>
                                    </span>*@
                @*</div>
                                    </div>*@
                @Html.ValidationMessageFor(m => m.FechaDelitoHasta)
            </div>
        </div>
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.Conyuge)
                                    @Html.EditorFor(m => m.Conyuge, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.Conyuge)*@
            </div>
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.EstadoCivil)
                                    @Html.DropDownListFor(m => m.EstadoCivil, Model.EstadoCivilList, new { @class = "form-control" })*@
            </div>
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.Telefono)
                                    @Html.EditorFor(m => m.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.Telefono)*@
            </div>
        </div>
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.OtrosNombres)
                @Html.EditorFor(m => m.OtrosNombres, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.OtrosNombres)
            </div>

            <div class="col-xs-4">
                @Html.LabelFor(model => model.Profesion)
                @Html.EditorFor(m => m.Profesion, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.Profesion)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Sexo)
                @Html.DropDownListFor(m => m.Sexo, Model.SexoList, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Sexo)
            </div>
        </div>
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.LocalidadNacimiento)
                @Html.TextBox("LocalidadNacimiento", Model.LocalidadNacimiento, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.LocalidadNacimiento)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(model => model.ProvinciaNacimiento)
                @Html.DropDownListFor(m => m.ProvinciaNacimiento, Model.ProvinciaList, "Desconocida", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.ProvinciaNacimiento)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(model => model.PaisNacimiento)
                @Html.DropDownListFor(m => m.PaisNacimiento, Model.PaisList, "Desconocido", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.PaisNacimiento)
            </div>
        </div>
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.Fiscal)
                                    @Html.EditorFor(m => m.Fiscal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.Fiscal)*@
            </div>
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.Instruccion)
                                    @Html.DropDownListFor(m => m.Instruccion, Model.InstruccionList, new { @class = "form-control" })*@
            </div>
            <div class="col-xs-4">

            </div>
        </div>
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.ModusOperandi)
                                    @Html.TextBoxFor(m => m.ModusOperandi, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ModusOperandi)*@
            </div>
            <div class="col-xs-4">

            </div>
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.UFI)
                                    @Html.EditorFor(m => m.UFI, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.UFI)*@
            </div>
        </div>
        <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.TipoDocumento)
                                    @Html.DropDownListFor(m => m.TipoDocumento, Model.TipoDocumentoList,  new { @class = "form-control"  })*@
            </div>
            <div class="col-xs-4">

            </div>
            <div class="col-xs-4">
                @*@Html.LabelFor(model => model.JuzgadoGarantias)
                                    @Html.EditorFor(m => m.JuzgadoGarantias, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.JuzgadoGarantias)*@
            </div>

        </div>






        <section id="DomicilioImputado">
            <div>
                <h4>Domicilio del Imputado</h4>
            </div>
            <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Calle)
                    @Html.EditorFor(m => m.Calle, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(m => m.Calle)
                </div>
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.NroH)
                    @Html.EditorFor(m => m.NroH, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(m => m.NroH)
                    @*@Html.LabelFor(model => model.EntreCalle)
                                        @Html.EditorFor(m => m.EntreCalle, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.EntreCalle)*@
                </div>
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Localidad)
                    @Html.TextBox("Localidad", Model.Localidad, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Localidad)
                    @*@Html.LabelFor(model => model.EntreCalle2)
                                        @Html.EditorFor(m => m.EntreCalle2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.EntreCalle2)*@
                </div>
            </div>
            <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Partido)
                    @Html.TextBox("Partido", Model.Partido, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Partido)
                </div>
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Provincia)
                    @Html.DropDownListFor(m => m.Provincia, Model.ProvinciaList, "Desconocida", new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Provincia)
                    @*@Html.LabelFor(model => model.DeptoH)
                                        @Html.EditorFor(m => m.DeptoH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.DeptoH)*@
                </div>
                <div class="col-xs-4">
                    @*@Html.LabelFor(model => model.PisoH)
                                        @Html.EditorFor(m => m.PisoH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.PisoH)*@
                </div>
            </div>
            <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">
                    @*@Html.LabelFor(model => model.ParajeBarrioH)
                                        @Html.EditorFor(m => m.ParajeBarrioH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.ParajeBarrioH)*@
                </div>
                <div class="col-xs-4">

                </div>
            </div>

        </section>
        <section id="DomicilioDelito" style="display: none">
            <div>
                <h4>Domicilio del Delito</h4>
            </div>
            <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.CalleDelito)
                    @Html.EditorFor(m => m.CalleDelito, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(m => m.CalleDelito)
                </div>
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.NroHDelito)
                    @Html.EditorFor(m => m.NroHDelito, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(m => m.NroHDelito)
                    @*@Html.LabelFor(model => model.EntreCalleDelito)
                                        @Html.EditorFor(m => m.EntreCalleDelito, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.EntreCalleDelito)*@
                </div>
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.LocalidadDelito)
                    @Html.TextBox("LocalidadDelito", Model.LocalidadDelito, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.LocalidadDelito)
                    @*@Html.LabelFor(model => model.EntreCalle2Delito)
                                        @Html.EditorFor(m => m.EntreCalle2Delito, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.EntreCalle2Delito)*@
                </div>
            </div>
            <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">
                    @*@Html.LabelFor(model => model.DeptoHDelito)
                                        @Html.EditorFor(m => m.DeptoHDelito, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.DeptoHDelito)*@
                </div>
                <div class="col-xs-4">
                    @*@Html.LabelFor(model => model.PisoHDelito)
                                        @Html.EditorFor(m => m.PisoHDelito, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.PisoHDelito)*@
                </div>
            </div>
            <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.PartidoDelito)
                    @Html.TextBox("PartidoDelito", Model.PartidoDelito, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.PartidoDelito)
                </div>
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.ProvinciaDelito)
                    @Html.DropDownListFor(m => m.ProvinciaDelito, Model.ProvinciaList, "Desconocida", new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.ProvinciaDelito)
                    @*@Html.LabelFor(model => model.ParajeBarrioHDelito)
                                        @Html.EditorFor(m => m.ParajeBarrioHDelito, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.ParajeBarrioHDelito)*@
                </div>
                <div class="col-xs-4">

                </div>
            </div>
            <div class="row wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">
                    @*@Html.LabelFor(model => model.LocalidadPolicial)
                                        @Html.EditorFor(m => m.LocalidadPolicial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.LocalidadPolicial)*@

                </div>
                <div class="col-xs-4">
                    @*@Html.Label("Dependencia Policial", new { id = "lblDependenciaPolicial", @for = "DependenciaPolicial" })
                                        @Html.EditorFor(m => m.DependenciaPolicial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.DependenciaPolicial)*@
                </div>
            </div>
        </section>
        </div>
        </div>



        <div class="panel panel-default tile wow fadeInDown animated hidden" id="pnlDatosSomaticos" style="margin-bottom: 50px">
            <div class="panel-heading">
                <h2> Búsqueda Datos Somáticos</h2>
            </div>

            @{
                Html.RenderPartial("_DatosSomaticos");
            }
        </div>






@section footer
{

    <div class="col-md-2 col-sm-4 col-xs-4">
        <a class="btn btn-lg btn-alt" href='@Url.Action("Index", "Home", new {Area = ""})' onclick=' showPageLoadingSpinner() ' title=" volver" type="button">
            Volver
        </a>
    </div>
    <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-4 text-center">
        <a class="btn btn-lg btn-alt" href='@Url.Action("Limpiar", "Busqueda")' title=" Limpiar" id="btnLimpiar">
            Limpiar
        </a>
    </div>

    <div class="col-md-2  col-sm-4 col-xs-4 text-center">
        <button id="btnBuscar" type="button" class="btn btn-alt btn-lg" title="Buscar">Buscar</button>

    </div>
}




    }

    </div>
    </div>


</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $("section#DatosSomaticos>div.panel>div.panel-heading").hide();

        });

        $("input").keypress(function (event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#btnBuscar").click();
            }
        });

        $(function () {
            $("#btnBuscar").on('click', function () {
                if ($("#frmBusquedaSic").valid() == false) {
                    //$("#frmDetalleOtip").data("validator").settings.focusInvalid = false;
                    hidePageLoadingSpinner(1);
                    $("#frmBusquedaSic").data("validator");
                    alertify.error("Error en los datos ingresados");
                } else {

                    showPageLoadingSpinner();
                    $("#inicio").val("true");


                    $("#frmBusquedaSic").submit();


                }
            });
        });

        $(document).ready(function() {
            setTimeout(function() {LlenarPanelFiltros();}, 500);
        });


     
    </script>
}
