@model  IEnumerable<ISIC.Entities.Usuarios>


<div class=" center wow fadeInDown animated tile-light">
    <h1>
        USUARIOS
    </h1>
</div>



<div class="tile tile  wow fadeInDown animated" style="margin-bottom: 80px;">

    <div class="panel panel-default ">
        <div class="panel-heading">
            <h4>
                Listado de Usuarios 
            </h4>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tablaUsuarios" class="table  table-bordered table-hover  table-striped  tabla" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreUsuario)
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.PersonalPoderJudicial)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.activo)
                        </th>
                        
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreUsuario)
                            </td>
                            <td>
                                @if (item.PersonalPoderJudicial != null)
                                {
                                    @*@Html.DisplayFor(modelItem => item.PersonalPoderJudicial)*@
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.activo)
                            </td>
                            <td style="text-align: right">
                                @Html.ActionLink("Editar", "AltaModificacionUsuario", new {id = item.id}, new {@class = "btn btn-alt btn-sm ", onclick = "showPageLoadingSpinner();"})
                                <input type="button" class="btn btn-alt btn-sm" id="btnBorrarUsuario" data-id="@item.id" value="Borrar"/>
                            </td>
                        </tr>
                    }


                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>

@section footer
{
    <div class="col-md-2 col-sm-2 col-xs-6">
        @*<a class="btn btn-lg btn-alt volver" href='#' onclick=' ' title=" volver" type="button">
                Volver
            </a>*@
        <a class="btn btn-lg btn-alt volver" href=' @Url.Action("Index","Home") ' title=" volver" onclick="showPageLoadingSpinner();" type="button">
            Volver
        </a>
    </div>
    <div class="col-md-6 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6">
        @if (Model != null)
        {
            @Html.ActionLink("Nuevo", "AltaModificacionUsuario",  new { @class = "btn btn-alt btn-lg ", onclick = "showPageLoadingSpinner();" })
        }


    </div>

}


<script>
    $(document).ready(function () {
        $('#tablaUsuarios').dataTable({
            "dom": '<"row"<"col-md-12"ipT>><"clear">rt<"bottom"><"clear">',
            "tableTools": {
                "aButtons": [],

            },
            "columnDefs": [
                {
                    "targets": 3,
                    "sortable": false
                }
            ],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        $('#tablaUsuarios tbody').on('click', '#btnBorrarUsuarios', function () {

            var id = $(this).data("id");
            var table = $('#tablaUsuarios').DataTable();
            var row = table.row($(this).parents('tr'));

            alertify.confirm("Borrar Usuario", "Seguro que desea borrar?", function () {

                var url = '@Url.Action("BorrarUsuario")/' + encodeURI(id);
                $.get(url, null, function (data) {
                    if (data === "True") {
                        row.remove().draw();
                        alertify.success("Usuario borrado correctamente");


                    } else {
                        alertify.error("Error al borrar");
                    }
                });

            }, null)
         .set('labels', { cancel: 'Cancelar' })
         .set('defaultFocus', 'cancel');
        });

    });


</script>

